@model Lab_Practice.Models.ViewModel.StudentDepartment
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    <form action="/Student/Edit" method="post">
        <input type="hidden" name="Id" value="@Model.student.Id" />
        <input type="text" name="Name" class="form-control" value="@Model.student.Name" placeholder="Name..">
        @Html.ValidationMessage("Name", htmlAttributes: new { @class = "text-danger" })
        <input type="date" name="DOB" class="form-control" value="@Model.student.DOB" placeholder="DOB..">
        @Html.ValidationMessage("DOB", htmlAttributes: new { @class = "text-danger" })
        <input type="text" name="Credit" class="form-control" value="@Model.student.Credit" placeholder="Credit..">
        @Html.ValidationMessage("Credit", htmlAttributes: new { @class = "text-danger" })
        <input type="text" name="CGPA" class="form-control" value="@Model.student.CGPA" placeholder="CCPA..">
        @Html.ValidationMessage("CGPA", htmlAttributes: new { @class = "text-danger" })
        <select class="form-control" name="Dept_id">
            <option value="null" selected disabled>Select</option>
            @foreach (var c in Model.departments)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
        <input type="submit" class="btn btn-block" value="Save" />
    </form>
</div>

